In [1]:
import findspark
findspark.init()
import pyspark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
conf = SparkConf().setMaster('local')
sc = SparkContext(conf = conf)
# spark = SparkSession(sc)
spark = SparkSession.builder \
    .appName("view_creation") \
    .config("spark.sql.catalogImplementation", "hive") \
    .getOrCreate()

In [2]:
spark.sql('CREATE OR REPLACE TEMP VIEW vw_temp AS SELECT * FROM demo.race_result_tb_py')
# It is not allowed to add database prefix `demo` for the TEMPORARY view name

DataFrame[]

In [3]:
spark.sql('CREATE OR REPLACE GLOBAL TEMPORARY VIEW vw_temp_global AS SELECT * FROM demo.race_result_tb_py')
#created in a database called global_temp database
#global temporary views do not have a physical storage location because they are not intended for persistent storage

DataFrame[]

In [2]:
spark.sql('CREATE OR REPLACE VIEW demo.vw_permanent AS SELECT * FROM demo.race_result_tb_py')

DataFrame[]

In [5]:
spark.sql('SHOW TABLES IN demo').show(truncate=False)

+---------+---------------------+-----------+
|namespace|tableName            |isTemporary|
+---------+---------------------+-----------+
|demo     |race_result_tb_py    |false      |
|demo     |race_result_tb_py_ext|false      |
|demo     |vw_permanent         |false      |
|         |vw_temp              |true       |
+---------+---------------------+-----------+

In [6]:
spark.sql('SHOW TABLES IN default').show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|         |  vw_temp|       true|
+---------+---------+-----------+

In [7]:
spark.sql('SHOW TABLES IN global_temp').show()

+-----------+--------------+-----------+
|  namespace|     tableName|isTemporary|
+-----------+--------------+-----------+
|global_temp|vw_temp_global|       true|
|           |       vw_temp|       true|
+-----------+--------------+-----------+

In [ ]:
spark.sql('DRoP DATABASE f1_raw CASCADE')